*{
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
}
#main-id{
  width: 64px;
}

.container-Main{
  width:  720px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.containerInner{
    background-color: #28688C;
    box-shadow: 1px 5px 25px 3px #444;
    border-radius: 10px;
    width: 100%;
    padding: 15px;
    color: #ffffff;
    text-align: center;
}
#formClass{
    border: 3px solid #28688C;

}
.default-text.hide-panel{
    display:none;
}
.weatherCard.hide-panel{
    display:none;
}
.rightCont{
  width:30%
}
.centerCont{
  width:50%
}
.leftCont{
  width:20%
}
#input{
  width: 350px;
}
#cityName{
  font-weight: 700;
}
#mainTemperature{
  font-size: 64px;
  font-weight: 700;
}
#main-icon{
  width: 64px;
  vertical-align: unset;
}
a {
    color: white;
    opacity: 0.6;
    text-decoration: none;
  }
  
  a:hover, a:active, a:focus{
    color: white;
    text-decoration: none;
    opacity: 1;
  }
  
  .active {
    color: white;
    text-decoration: none;
    opacity: 1;
  }
  
  body{
    background-color: #F4F6F7;
  }
  
  #wrapper {
    background-color: #28688C;
    box-shadow: 1px 5px 25px 3px #444;
    border-radius: 10px;
    margin: 100px auto;
    max-width: 720px;
    padding: 0px;
    color: white;  
  }
  
  #current-weather{
    padding: 15px;
  }
  

  
  #tempDescription {
    margin-top: 10px;
    text-align: center;
  }
  
  .day-weather-box {
    border: 1px solid #28688C;
    background-color: #2E7FA1;
    border-radius: 5px;
    height: 5em;
  }
  
  .day-weather-box p{
    margin-bottom: 0;
  }
  
  .side-weather-info {
    padding: 0px 10px;
  }
  
  .day-weather-inner-box {
    display: inline-flex;
    margin: 14px auto;
    padding: 0px 5px;
  }
  
  .forecast-main {
    padding: 0px 0px 0px 30px;
  }
  
  .forecast-icon {
    font-size: 25px;
    margin-left: 5px;
  }
  
  .modal-body p{
    color: #333;
  }
